params{

    // options for the standard subworkflow
    //beds     = "${params.prefix}/projects/CrossEvoPred/assets/berthelot_beds.csv"
    beds = null
    bigwigs = "${params.prefix}/projects/CrossEvoPred/assets/berthelot.csv"
    genomes = "${params.prefix}/projects/CrossEvoPred/assets/genomes.csv"

    split = "random"
    sequence_length = 1000
    window_length_summary = 10 
    summary_metric  = "sum"
    clip_value = 0

    // options for the fpkm subworkflow
    fpkms   = "${params.prefix}/projects/CrossEvoPred/assets/berthelot_fpkms.csv"
    length_fpkm_region = 2670
    
}