params{

    // GENOME 
    genome     = "${params.prefix}/data/CrossEvoPred/genome/Homo_sapiens/hg38"
    blacklist  = "${params.prefix}/data/CrossEvoPred/genome/Homo_sapiens/hg38/hg38-blacklist.v2.bed"

    // DOWNLOAD DATA
    encode_sheet = "./assets/gopher_2.csv"
    fetch_data = true

    // DATA PREPROCESSING

    // clipping
    clip = true
    clip_threshold = 32    

    // coverage threshold 
    coverage_threshold = 2

    // region size and window
    sequence_size = 3072
    sequence_size_after_rc = 2048
    label_window_size   = 128

    bed_file_max_size = 10000

    // SUBSAMPLE_FOR_TEST
    subsample = true
    subsample_size = 1000

    // TUNING 
    tune = false
    tune_config = "./bin/crossevopred/config/tune_config.yaml"

    // TRAINING
    model_name = "model_15epochs"
    config = "./bin/crossevopred/config/test_config.yaml"


}