/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: "DOWNLOAD_ENCODE"{
        storeDir = { "${params.outdir}/data/encode/raw/${meta.Organism.replaceAll(' ', '_')}/${meta.assay_title.replaceAll(' ', '_')}/${meta.Biosample_term_name.replaceAll(' ', '_')}/${meta.id}" }
    }

    withName: "BIG_TO_BEDGRAPH"{
        storeDir = { "${params.outdir}/data/encode/bedgraph/${meta.Organism.replaceAll(' ', '_')}/${meta.assay_title.replaceAll(' ', '_')}/${meta.Biosample_term_name.replaceAll(' ', '_')}/${meta.id}" }
    }

    withName: "SPLIT_RANDOM"{
        storeDir = { "${params.outdir}/data/dataset/split_bed" }
    }

    withName: "PREP_INPUT_FILE_TRAIN"{
        storeDir = { "${params.outdir}/data/dataset/input_files/train" }
    }
    withName: "PREP_INPUT_FILE_VALIDATION"{
        storeDir = { "${params.outdir}/data/dataset/input_files/validation" }
    }
    withName: "PREP_INPUT_FILE_TEST"{
        storeDir = { "${params.outdir}/data/dataset/input_files/test" }
    }

    withName: "CREATE_DATASET_OBJECT_TRAIN"{
        storeDir = { "${params.outdir}/data/dataset/objects/train" }
    }
    withName: "CREATE_DATASET_OBJECT_VALIDATION"{
        storeDir = { "${params.outdir}/data/dataset/objects/validation" }
    }
    withName: "CREATE_DATASET_OBJECT_TEST"{
        storeDir = { "${params.outdir}/data/dataset/objects/test" }
    }

    withName: "TRAIN_MODEL"{
        storeDir = { "${params.outdir}/models" }
    }

    withName: "EVALUATE_MODEL"{
       publishDir = [
            path: { "${params.outdir}/models" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]    
    }
}