
process {

    withName: "GET_FASTA"{
        ext.args = "-tab -name"
    }

    withName: "BED_TO_STIMULUS"{
        publishDir = [
            path: { "${params.outdir}/fpkms_fasta/" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}