/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: "DOWNLOAD_ENCODE"{
        storeDir = { "${params.outdir}/data/encode/raw/${meta.Organism.replaceAll(' ', '_')}/${meta.assay_title.replaceAll(' ', '_')}/${meta.Biosample_term_name.replaceAll(' ', '_')}/${meta.id}" }
    }

    // ---------------------------
    //   Bedgraph manipulation 
    // ---------------------------
    withName: "BIG_TO_BEDGRAPH"{
        storeDir = { "${params.outdir}/data/encode/bedgraph/${meta.Organism.replaceAll(' ', '_')}/${meta.assay_title.replaceAll(' ', '_')}/${meta.Biosample_term_name.replaceAll(' ', '_')}/${meta.id}" }
    }

    withName: "CLIP_BEDGRAPH"{
        storeDir = { "${params.outdir}/data/encode/bedgraph/clipped/${meta.Organism.replaceAll(' ', '_')}/${meta.assay_title.replaceAll(' ', '_')}/${meta.Biosample_term_name.replaceAll(' ', '_')}/${meta.id}" }
    }

    // --------------------------------------------
    //   Creation of training/validation/test sets 
    // --------------------------------------------

    withName: "SPLIT_RANDOM"{
        storeDir = { "${params.outdir}/data/dataset/split_bed" }
    }


    // --------------------------------------------
    //   File chunk_size  
    // --------------------------------------------
    withName: "SPLIT_TRAIN_BED"{
        storeDir = { "${params.outdir}/data/dataset/split_bed/train/${meta.id}" }
    }
    withName: "SPLIT_VALIDATION_BED"{
        storeDir = { "${params.outdir}/data/dataset/split_bed/validation/${meta.id}" }
    }
    withName: "SPLIT_TEST_BED"{
        storeDir = { "${params.outdir}/data/dataset/split_bed/test/${meta.id}" }
    }

    withName: "SUBSAMPLE_BED_TRAINING"{
        storeDir = { "${params.outdir}/data/dataset/split_bed/subsample/train/${meta.id}" }
    }
    withName: "SUBSAMPLE_BED_VALIDATION"{
        storeDir = { "${params.outdir}/data/dataset/split_bed/subsample/validation/${meta.id}" }
    }
    withName: "SUBSAMPLE_BED_TEST"{
        storeDir = { "${params.outdir}/data/dataset/split_bed/subsample/test/${meta.id}" }
    }



    withName: "PREP_INPUT_FILE_TRAIN"{
        storeDir = { "${params.outdir}/data/dataset/input_files/train/${meta.id}" }
    }
    withName: "PREP_INPUT_FILE_VALIDATION"{
        storeDir = { "${params.outdir}/data/dataset/input_files/validation/${meta.id}" }
    }
    withName: "PREP_INPUT_FILE_TEST"{
        storeDir = { "${params.outdir}/data/dataset/input_files/test/${meta.id}" }
    }

    withName: "CREATE_DATASET_OBJECT_TRAIN"{
        storeDir = { "${params.outdir}/data/dataset/objects/train/${meta.id}" }
    }
    withName: "CREATE_DATASET_OBJECT_VALIDATION"{
        storeDir = { "${params.outdir}/data/dataset/objects/validation/${meta.id}" }
    }
    withName: "CREATE_DATASET_OBJECT_TEST"{
        storeDir = { "${params.outdir}/data/dataset/objects/test/${meta.id}" }
    }

    withName: "CHUNK_GENOME"{
        storeDir = { "${params.outdir}/data/dataset/genome_chunks" }
    }
    withName: "GET_FASTA_COBALT"{
        storeDir = { "${params.outdir}/data/dataset/genome_chunks/fasta" }
    }
    withName: "FAMSA_ALIGN_COBALT"{
        storeDir = { "${params.outdir}/data/dataset/genome_chunks/msa" }
    }


    withName: "TRAIN_MODEL"{
        publishDir = [
            path: { "${params.outdir}/models/${params.model_name}" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "TUNE_MODEL"{
        storeDir = { "${params.outdir}/models/${params.model_name}/tuning" }
    }

    withName: "EVALUATE_MODEL"{
       publishDir = [
            path: { "${params.outdir}/models" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]    
    }
}