params{
    encode_sheet = null

    config     = null

    fetch_data = false

    tune = null
    tune_config = null

    prefix       = null
    genome       = null
    chunk_size   = null
    bin_size     = null

    bedgraph_test_file = null

    params.validationSkipDuplicateCheck = null
    params.validationS3PathCheck = null

    outdir = "./out"
}