params{

    encode_sheet = "./assets/encode_test.csv"
    config = "./bin/crossevopred/config/test_config.yaml"

    fetch_data = true
    genome     = "${params.prefix}/data/CrossEvoPred/genome/Homo_sapiens/hg38"

    chunk_size = 1000
    bin_size   = 128

    bed_file_max_size = 10000


    tune = true
    tune_config = "./bin/crossevopred/config/tune_config.yaml"

}