params{
    encode_sheet = "./assets/encode_test.csv"

    fetch_data = false

    prefix = "/home/luisasantus/Desktop/crg_cluster"
    genome = "${prefix}/data/CrossEvoPred/test/"

    bedgraph_test_file = "${prefix}/data/CrossEvoPred/test/chr1.bedgraph"
    test_bed_file = "${prefix}/data/CrossEvoPred/test/chr1.bed"

    chunk_size = 1000
    bin_size = 128
}