params{
    encode_sheet = "./assets/encode_test.csv"
    config = "./bin/crossevopred/config/test_config.yaml"

    fetch_data = true

    genome = "${params.prefix}/data/CrossEvoPred/test/"

    bedgraph_test_file = "${params.prefix}/data/CrossEvoPred/test/chr1.bedgraph"
    test_bed_file = "${params.prefix}/data/CrossEvoPred/test/chr1.bed"

    chunk_size = 1000
    bin_size = 5

    model_name = "model_10epochs"


    tune = false
    tune_config = "./bin/crossevopred/config/tune_config.yaml"
}